<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configure Device</title>
    <link rel="stylesheet" href="../static/styles/confStyle.css">
</head>
<body>
<div class="column">

    <button class="button-27" id="gather" name="gather" value="gather" onclick="window.location.href='/gather'">Gather
        Information
    </button>
    <button class="button-27" style="margin-top: 10px" type="submit" id="mac" name="mac" value="mac"
            onclick="window.location.href='/mac.html'">Show MAC
        table
    </button>
    <button class="button-27" style="margin-top: 10px" id="interface" name="interface" value="interface"
            onclick="window.location.href='/loopback'">Create
        loopback and null interfaces
    </button>
</div>
</div>
</body>
</html>